<!DOCTYPE html>
<html lang="en">
<head>
	<title>Prerepo</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
	<style>
	li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {list-style-type: decimal}
	div#text ol { padding-left: 20px; }
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/prettify.js"></script>
	<script src="/static/js/jquery.treeview.js"></script>
	<script src="/static/js/jquery.treeview.async.js"></script>
	<script>
	$(prettyPrint)
	$(function() {
		var url = location.href;
		var root = url.substr(url.lastIndexOf('/') + 1)
	})
	</script>
</head>
<body>
<div id="tree">

</div>
<div id="text">
<!--pre class="prettyprint linenums"></pre-->
</div>
</body>
</html>
